body{
    background-color: #6173F4;
    color: #F35E3E;
}
.salida{
    background-color: #FCEFED;

    display: inline-block;

    margin: auto;
    margin: 1% 20%;

    padding: 10px;

    height: 60px;

    text-align: justify;

    border: none;
    border-radius: 2.5px;
    box-shadow: 2px 2px #3B2E40;
}
