@import 'https://fonts.googleapis.com/css?family=Oswald:700';

body{
  background-color: #001A3C;
  color: #5B4700;
  font-size: 2.3em;
  text-align: justify;
}
.resultado{
  margin: auto;
  margin: 15% 35%;
}
