/*
font-family: 'Playfair Display', serif;       Titulos
font-family: 'Poppins', sans-serif;           Texto
font-family: 'Lustria', serif;                      Titulo Pagina
*/
body{
    background-color: #DA5C53;
    box-sizing: border-box;
}
/*NavBar*/
.navbar{
    background-color: #A8E4B1;
    overflow: hidden;
    position: fixed;
    top: 0%;
    min-width: 100%;
    width: 100%;
    z-index: 1;
}
.navbar-header>a{
    font-size: 2.5em;
    color: #306D75;
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 0;
    font-family: 'Lustria', serif;
}
.navbar-header>a:hover{
    text-decoration: none;
}
.navbar-nav li>a{
    font-family: 'Playfair Display', serif;
    color: #306D75;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0;
}
.navbar-nav li>a:hover{
    color: #A8E4B1;
    background-color: #4AA3BA;
}
.contenido-fijo{
    margin-top: 5%;
}
.icon-bars{
    display: none;
}
@media screen and (min-width: 992){
    .icon-bars{
        display: none;
        position: 
    }
}
@media screen and (max-width: 991px){
    .navbar{
        position: relative;
        box-sizing: border-box;
    }
    .navbar .container ul{
        display: none;
    }
    .icon-bars{
        position: absolute;
        display: block;
        font-size: 2em;
        color: #306D75;
        cursor: pointer;
        margin: 5px 0 0 0;
        left: 90%;
        top: 5%;
        transition-duration: .2s;
    }
    .icon-bars:hover{
        font-size: 2.3em;
    }
}
/*Side Navigation*/
.menu-despegable{
    position: fixed;
    background-color: #A8E4B1;
    opacity: .8;
    width: 0;
    max-width: 0;
    height: 100%;
    max-height: 100%;
    top: 0%;
    left: 70%;
    z-index: 2;
    overflow-x: hidden;
    padding-top: 5%;
    transition: .5s;
    display: block;
}
.menu-despegable a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1em;
    color: #4AA3BA;
    display: block;
    transition: 0.3s;
}
.menu-despegable a:hover{
    color: #306D75;
    font-weight: bold;
}
/*
.menu-despegable .icon-bars{
    position: absolute;
    top: 10%;
    left: 90%;
    font-size: 2.5em;
    margin-right: 70%;
}
*/
/*Body Home Page*/
.text>h1{
    color: #306D75;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}
.text p{
    color: #A8E4B1;
    font-family: 'Poppins', sans-serif;
    display: block;
}
/*Imagen*/
.slide>img{
    border-radius: 5px;
    margin: 10% 0 0 0;
    width: 100%;
    max-width: 100%;
    height: 200px;
    max-height: 100%;
}
/*Referencia Lenguaje*/
.list-nav{
    box-sizing: border-box;
    font-size: 1em;
    margin-top: 3%;
    margin-left: 3%;
    padding: 2% 0% 1% 5%;
    width: 60%;
    max-width: 60%;
    border: 5px solid #306D75;
}
.list-nav>h1{
    color: #306D75;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    margin-left: 6%;
    margin-bottom: 3%;
}
.list-nav ul>li, .list-nav ul li>a {
    color: #4AA3BA;
    text-transform: uppercase;
    font-weight: bold; 
    margin-top: 2%; 
}
.list-nav ol>li, .list-nav ol li>a{
    color: #A8E4B1;
    font-family: 'Poppins', sans-serif;
    text-transform: initial;
}
